<a href="https://colab.research.google.com/github/jh941213/python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC300%EC%A0%9C(200)_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
print('Hello World')

Hello World

In [ ]:
#2
print('Mary`s cosmetics')

Mary`s cosmetics

In [ ]:
#3
print('신씨가 소리질렀다."도둑이야". ')

신씨가 소리질렀다."도둑이야".

In [ ]:
#4
print('"C:\windows"')

"C:\windows"

In [ ]:
#5
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n 은 줄바꿈을 의미하고 \t 을 의미합니다

안녕하세요.
만나서		반갑습니다.

In [ ]:
#6
print ("오늘은", "일요일")
# 오늘은 일요일

오늘은 일요일

In [ ]:
#7
print("naver;kakao;sk;samsung")
print("naver",'kakao','samsung',sep=';')

naver;kakao;sk;samsung
naver;kakao;samsung

In [ ]:
#8
print('naver','kakao','sk','samsung', sep = '/')

naver/kakao/sk/samsung

In [ ]:
#9
print("first",end=" ");print("second")

first second

In [ ]:
#10
print(5/3)

1.6666666666666667

In [ ]:
#11
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [ ]:
#12 
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
#13
s="hello"
t = "python"
print(s+"!",t)

hello! python

In [ ]:
#14
total=2+2*3
print(total)

8

In [ ]:
#15

a=128
print(type(a))
a = "132"
print(type(a))

<class 'int'>
<class 'str'>

In [ ]:
#16
num_str ='720'
num_int=int(num_str)

print(num_int+1,type(num_int))

721 <class 'int'>

In [ ]:
#17
num=100
str_num =str(num)
print(type(str_num))

<class 'str'>

In [ ]:
#18
num = 15.79
float_num=float(num)
print(num,type(float_num))

15.79 <class 'float'>

In [ ]:
#19
year = "2020"
year_t=int(year)
print(year_t-3) 
print(year_t-2)
print(year_t-1)

2017
2018
2019

In [ ]:
#20
mon = 48584
iza = 36
print(mon*iza,"원")

1749024 원

In [ ]:
#21
letters = 'python'
print(letters[0],letters[2])

p t

In [ ]:
#22
license_plate = "24가 2210"

print(license_plate[4:])

2210

In [ ]:
#23 
string ="안녕안녕안녕"
print(string[: :2])

안안안

In [ ]:
#24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
#25
phone_number = "010-1111-2222"
print(phone_number.replace("-",' '))

010 1111 2222

In [ ]:
#26
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace('-', '')
print(phone_number1)
#궁금한거! 01011112222

01011112222

In [ ]:
#27
url = "http://sharebook.kr"
url_s = url.split('.')
print(url_s[1])

kr

In [ ]:
#28
#에러 예상 왜냐면? 문자열 수정 불가 리스트가 아님
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: ignored

In [ ]:
#29
string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

Abcdfe2A354A32A

In [ ]:
#30
#aBcd

In [ ]:
#31
a="3"
b="4"
print(a+b)
#34 // 문자열임 int 형아니라

34

In [ ]:
#32
print("HI"*3)

#HIHIHI

HIHIHI

In [ ]:
#33
print('-'* 80)

--------------------------------------------------------------------------------

In [ ]:
#34 
t1 = 'python'
t2 = 'java'
total = t1+' '+t2+' '
print(total*3)

#뛰어쓰기 안함

python java python java python java

In [ ]:
#35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름:%s 나이:%d" %(name1,age1))
print("이름:%s 나이:%d" %(name2,age2))

# %s : 스트링 %d : 정수형 뒤에 %(name1,name2)

이름:김민수 나이:10
이름:이철희 나이:13

In [ ]:
#36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름:{} 나이:{}".format(name1,age1))
print("이름:{} 나이:{}".format(name2,age2))

In [ ]:
#37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")
#f스트링( f"내용 {변수}" )

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
#38 
상장주식수 = "5,969,782,550"
out= 상장주식수.replace(',','')
type = int(out)
print(out)

5969782550

In [ ]:
#39
분기 = "2020/03(E) (IFRS연결)"
문기 = 분기[:7]
print(문기)

2020/03

In [ ]:
#40
data = "   삼성전자    "
total = data.strip()
print(total)
tata = "   2삼성전자2    "
total1= tata.strip(" ").strip("2")
print(total1)

삼성전자
삼성전자

In [ ]:
#41
ticker ="btc_krw"
lan = ticker.upper()
print(lan)

BTC_KRW

In [ ]:
#42
ticker="BTC_KRW"
nan = ticker.lower()
print(nan)

btc_krw

In [ ]:
#43
h ="hello"
h.capitalize()

'Hello'

In [ ]:
#44
file_name = "보고서.xlsx"
#모름
file_name.endswith("xlsx")

True

In [ ]:
#45
file_name = "보고서.xlsx"
file_name.endswith(("xlsx","xls"))
#집합으로해서 엮어서 검사하면됨

True

In [ ]:
#46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [ ]:
#47
a = "hello world"
a.split()

['hello', 'world']

In [ ]:
#48
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [ ]:
#49
date = '2020-05-01'
date.split('-')

['2020', '05', '01']

In [ ]:
#50
data = "03949     "
data.rstrip()

'03949'

In [ ]:
#51
movie_rank= ['닥터스트레인지','스플릿','럭키']
movie_rank

In [ ]:
#52
movie_rank= ['닥터스트레인지','스플릿','럭키']
movie_rank.append('배트맨')
movie_rank

['닥터스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
#53
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
#54
movie_rank.pop(4)
#del movie_rank.pop[4]
movie_rank

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키']

In [ ]:
#55
movie_rank
del movie_rank[2]
movie_rank

IndexError: ignored

In [ ]:
#56}
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs= lang1+lang2

langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print('max:',max(nums))
print('min:',min(nums))

max: 7
min: 1

In [ ]:
#58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [ ]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

#count는 안먹나?

12

In [ ]:
#60
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

#avg , mean 안됨 주의

3.0

In [ ]:
#61
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
#62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[0::2])

[1, 3, 5, 7, 9]

In [ ]:
#63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
#64
nums = [1,2,3,4,5]
print(nums[::-1])
#리스트안에서 -1을 통해 뒤로 출력시킨다

[5, 4, 3, 2, 1]

In [ ]:
#65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [ ]:
#66 -join
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
for i in interest:
    print(i,end=' ')
#join으로하면
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
#67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('/'.join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
#68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
#69
string="삼성전자/LG전자/naver"
print(list(string.split('/')))

['삼성전자', 'LG전자', 'naver']

In [ ]:
#70
data = [2,4,3,1,5,10,9]
data.sort()
data
#다른방법
sorted

In [ ]:
#71
my_variable=()
type(my_variable)

tuple

In [ ]:
#72
movie_rank=('닥터스트레인지','스플릿','럭키')
type(movie_rank)

tuple

In [ ]:
#73
total = (1)
type(total)
# 하나의 데이터인 경우 뒤에 쉼표를 붙혀서 튜플로 만듬
total = (1,)
type(total)

tuple

In [ ]:
#74
#튜플은 원소의 값을 변경 할 수 없음

In [ ]:
#75
t = 1,2,3,4
#리스트? x 원칙적으로 괄호와 함께 정의해야하지만 그냥 정의하면 튜플형식저장
type(t)

tuple

In [ ]:
#76
t = ('a', 'b', 'c')
#튜플은 데이터 변환이 안되기 때문에
t = ('A','b','c')
#자동 데이터가 덮어 써짐

('A', 'b', 'c')

In [ ]:
#77
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
#78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
#79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
#apple banana cake

apple banana cake

In [ ]:
#80 이거안댐
a = range(2,99,2)
print(tuple(a))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [ ]:
#81
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,_,_ = scores
print(valid_score)
#이해안됨

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
#82
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)
print(a)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
8.8

In [ ]:
#83
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b =scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
#84
temp={}
temp

{}

In [ ]:
#85
아이스크림={'메로나':1000,'폴라포':1200,'빵빠레':1800}
아이스크림

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
#86
아이스크림['죠스바']= 1200
아이스크림['월드콘']=1500
아이스크림

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#87

print("메로나가격:",아이스크림['메로나'])

메로나가격 1000

In [ ]:
#88
아이스크림['메로나']=1300
아이스크림

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500, '메로나': 1300}

In [ ]:
#89
del 아이스크림['메로나']
print(아이스크림)
#왜 에러뜨누

KeyError: ignored

In [ ]:
#90
#딕셔너리에 없는 키를 사용하여 인덱싱하면 에러가 발생

In [ ]:
#91
inventory = {'메로나':[300,20],'비비빅':[400,3],'죠스바':[250,100]}
inventory
#데이터가 2개인경우 리스트화 해서 넣어준다

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
#92
inventory = {'메로나':[300,20],'비비빅':[400,3],'죠스바':[250,100]}
inventory['메로나'][0]

300

In [ ]:
#93
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][1],"개")

20 개

In [ ]:
#94
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘']=[500,7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
#95
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [ ]:
#96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(price)

[1200, 1200, 1800, 1500, 1000]

In [ ]:
#97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [ ]:
#98
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys,vals))
result

#dict로 형변환을 해주어야 한다 아니면 그냥 묶여서 오류뜸

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
#100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

new_table = dict(zip(date,close_price))
print(new_table)
#다시 복습

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [ ]:
#101
불타입

In [ ]:
#102
False

In [ ]:
#103
print(3<5)
true

True

In [ ]:
#104
true

In [ ]:
#105
true

In [ ]:
#106
>= 이 맞는문법

In [ ]:
#107
출력하지 않음

In [ ]:
#108
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

In [ ]:
#109
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [ ]:
#110
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")
# 바깥 프린트는 따로

1
2
4

In [ ]:
#111
user = input("입력하세요")
print(user*2)

입력하세요안녕하세요
안녕하세요안녕하세요

In [ ]:
#112
user = input("입력하세요")
print(int(user)+10)

입력하세요30
40

In [ ]:
#113
user = input("숫자를 입력하세요")

if int(user)%2==0:
    print("짝수입니다.")
else:
    print("홀수입니다")

숫자를 입력하세요30
짝수입니다.

In [ ]:
#114
user = input("숫자를 입력해보세요")
num = 20+ int(user)
if num > 255:
    print(255)
else:
    print(num)

숫자를 입력해보세요400
255

In [ ]:
#115
user = input("숫자를 입력하세요")
num2 = int(user)-20

if num2 > 255:
    print(255)
elif num2 <0:
    print(0)
else:
    print(num)

숫자를 입력하세요400
255

In [ ]:
#116
#현재시간 : 02:00
time = input("현재시간:")
if time[-2:] =='00':
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")
#datetime 함수를 호출이 아니라 , 그냥 문자열 출력임

현재시간:20:11
정각이 아닙니다.

In [ ]:
#117
fruit=['사과', '포도', '홍시']
user = input("좋아하는 과일 입력하세요")
if user in fruit:
    print("정답입니다")
else: 
    print("정답이 아닙니다")

#포문처럼 if 문도 in 을써서 호출이 가능하다

좋아하는 과일 입력하세요포도
정답입니다

In [ ]:
#118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("투자한 종목을 입력하세요")

if user in warn_investment_list:
    print("위 종목은 경고 대상입니다")
else:
    print("안심하고 투자하세요")

투자한 종목을 입력하세요bgf리테일
안심하고 투자하세요

In [ ]:
#119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

user = input("제가 좋아하는 계절과일은")

if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

KeyboardInterrupt: ignored

In [ ]:
#120
ruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")

if user in fruit.values():
    print("정답입니다")
else:
    print("오답입니다")
    #.values() keys()

좋아하는 과일은?딸기
정답입니다

In [ ]:
#121
user = input("문자하나 입력해보세요")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

문자하나 입력해보세요AA
aa

In [ ]:
#122
score = input("점수를 입력하세요")

if int(score)<21:
    print("E")
elif 20<int(score)<41:
    print("D")
elif 40<int(score)<61:
    print("C")
elif 60<int(score)<81:
    print("B")
else:
    print("A")

점수를 입력하세요101
A

In [ ]:
#123
환율 = {"달러":1167, "엔": 1.096, "유로":1268, "위안":171}
user = input('입력')
num,currency = user.split()
print(float(num)*환율[currency],"원")
#?????

입력100 달러
116700.0 원

In [ ]:
#124
num1=input("number1")
num2=input("number2")
num3=input("number3")

print(max(num1,num2,num3))

number110
number220
number330
30

In [ ]:
#125 (#?)
number = input("입력하세요 번호를")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")
#010-2920-4945를 스플릿으로 - 를 제거해서 010쪽에서 조건문으로 판단하여 출력하는 조건문

In [ ]:
#126
gu = input("우편번호를 입력하세요")
gu = gu[:3]
if gu in ["010", "011", "012"]:
    print("강북구")
elif gu in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호를 입력하세요01678
도봉구

In [ ]:
#127
jumin = input("주민번호를 입력하세요")
j=jumin[:-6]
if j==1 or 3:
    print("남자입니다")
else:
    print("여자입니다")

KeyboardInterrupt: ignored

In [ ]:
#128
jumin = input("당신의 출생지는?주민번호를입력하세요")
seoul = jumin[8:-4] #2~3출력

if 0 <= int(seoul) <=8:
    print("서울입니다")
else:
    print("서울이 아닙니다")

당신의 출생지는?주민번호를입력하세요941213-1123456
서울이 아닙니다

In [ ]:
#129 #?
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 941213-1002115
유효한 주민등록번호입니다.

In [ ]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [ ]:
#131
과일= ["사과",'귤','수박']

for i in 과일:
    print(i)

사과
귤
수박

In [ ]:
#132
과일= ["사과",'귤','수박']

for i in 과일:
    print("####")

####
####
####

In [ ]:
#133
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [ ]:
#134
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

In [ ]:
#135
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
#lower 소문자 # upper 대문자
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [ ]:
#136
변수=[10,20,30]

for i in 변수:
    print(i)

10
20
30

In [ ]:
#137
for 변수 in [10, 20, 30]:
  print(변수)

In [ ]:
#138
for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [ ]:
#139
list = ["+++++++",10,20,30]
for i in list:
    print(i)

+++++++
10
20
30

In [ ]:
#140
i=1
for i in range(4):
  print("-------")

-------
-------
-------
-------

In [ ]:
#141
리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [ ]:
#142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print("오늘의 메뉴",i)

오늘의 메뉴 김밥
오늘의 메뉴 라면
오늘의 메뉴 튀김

In [ ]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [ ]:
#144
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [ ]:
#145
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0])

d
c
p

In [ ]:
#146
리스트 = [1,2,3]

for i in 리스트:
    print("3 x",i)

3 x 1
3 x 2
3 x 3

In [ ]:
#147
리스트 = [1,2,3]

for i in 리스트:
    print("3 x",i,"=",i*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
#148
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[1:]
for i in 리스트:
    print(i)

나
다
라

In [ ]:
#149
리스트 = ["가", "나", "다", "라"]
리스트 = 리스트[0::2]
for i in 리스트:
    print(i)

가
다

In [ ]:
#150
리스트 = ["가", "나", "다", "라"]
bo = 리스트[::-1]
for i in bo:
    print(i)

라
다
나
가

In [ ]:
#151
리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i < 0:
        print(i)
#i < 0 i 보다 작음으로 음수를 판단하였다

-20
-3

In [ ]:
#152
리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i%3==0:
        print(i)

3

In [ ]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i%3==0:
        if i<20:
            print(i)

12
18

In [ ]:
#154
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i)> 3:
        print(i)

study
python
language

In [ ]:
#155
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [ ]:
#156
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper() == False:
    
        print(i)

b
c

In [ ]:
#157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    total= i[0].upper()+i[1:]
    print(total)
for i in 리스트:
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot
Dog
Cat
Parrot

In [ ]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [ ]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    split =i.split('.')
    if (split[1]=='c') or (split[1]=='h'):
        print(split)

['intra', 'h']
['intra', 'c']
['define', 'h']

In [ ]:
#161
for i in range(100):
    print(i)

In [ ]:
#162

for i in range(2002,2054,4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
#153 1~30
for i in range(1,31):
    if i%3==0:
        print(i)

for num in range(3,31,3):
    print(num)

3
6
9
12
15
18
21
24
27
30
3
6
9
12
15
18
21
24
27
30

In [ ]:
#164 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
#165
for i in range(10):
    print('0.'+str(i))

for num in range(10):
    print(num/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9
0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
#166
i=1
for i in range(1,10):
        print("3 x",i,'=',3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
#167
num = 3
for i in range(1,10,2): # 1~9 2씩 추가시키는 출력문
    print(num,'x',i,'=',num*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [ ]:
#168
tot=0
for i in range(11):
    tot+=i

print(tot)

55

In [ ]:
#169
tot = 0
for i in range(1,11,2):
    tot+=i

print(tot)

25

In [ ]:
#170
tot=1
for i in range(1,11):
    tot*=i

print(tot)

3628800

In [ ]:
#171
price_list = [32100, 32150, 32000, 32500]

for i in price_list:

    print(i)

32100
32150
32000
32500

In [ ]:
#172
price_list = [32100, 32150, 32000, 32500]
index = [0,1,2,3]
for i,j in zip(price_list,index):
    print(j,i)

for i in enumerate(price_list):
    print(i)

0 32100
1 32150
2 32000
3 32500
(0, 32100)
(1, 32150)
(2, 32000)
(3, 32500)

In [ ]:
#173 좀 헷갈림
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print((len(price_list)-i),price_list[i])

for i in range(len(price_list)):
    print(4-i, price_list[i])

4 32100
3 32150
2 32000
1 32500
4 32100
3 32150
2 32000
1 32500

In [ ]:
#174
price_list = [32100, 32150, 32000, 32500]

for i in range(1,4):
    print(90+10*i, price_list[i])

100 32150
110 32000
120 32500

In [ ]:
#175 ****
my_list = ["가", "나", "다", "라"]

for i in [0,1,2]:
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [ ]:
#176
my_list = ["가", "나", "다", "라", "마"]

for i in [0,1,2]:
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [ ]:
#177
my_list = ["가", "나", "다", "라"]


for i in [2,1,0]:
    print(my_list[i+1],my_list[i])

라 다
다 나
나 가

In [ ]:
#178 ***
my_list = [100, 200, 400, 800]
for i in [0,1,2]:
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [ ]:
import numpy as np
#179
my_list = [100, 200, 400, 800, 1000, 1300]

for i in [0,1,2,3]:
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
#180 #lens로 리스트위치를 포문으로 뽑아주어 어팬드
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility=[]
for i in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])

volatility

[50, 100, 30, 80, 0]

In [ ]:
#181
apart = [[101,102],[201,202],[301,302]]
apart
for i in apart:
    print(i)

[101, 102]
[201, 202]
[301, 302]

In [ ]:
#182
stock = [["시가",100,200,300],['종가',80,210,330]]
print(stock)
for i in stock:
    print(i)

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]
['시가', 100, 200, 300]
['종가', 80, 210, 330]

In [ ]:
#183
import pandas as pd
stock = {'시가':[300,200,100],"종가":[80,210,330]}
stock
pd.DataFrame(stock)

    시가   종가
0  300   80
1  200  210
2  100  330

In [ ]:
#184
date = {"10/10":[80,110,70,90], "10/11": [210,230,190,200]}
date
pd.DataFrame(date)

   10/10  10/11
0     80    210
1    110    230
2     70    190
3     90    200

In [ ]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
#186 #슬라이싱 -1 을 쳐서 반대로 출력시킨걸 그대로 해준다
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart[::-1]:
    for j in i:
        print(j,'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j,'호')
        print('------')

101 호
------
102 호
------
201 호
------
202 호
------
301 호
------
302 호
------

In [ ]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    
    for j in i:
        print(j,'호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,"호")
print('-------')

101 호
102 호
201 호
202 호
301 호
302 호
-------

In [ ]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [ ]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j * 1.00014)
    print('-'*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [ ]:
#193
result = []
for line in data:
    for column in line:
    
    
        result.append(column * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
#194
result = []
for line in data:
    sub=[]
    for column in line:
        sub.append(column*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
#슬라이싱으로 맨위 1제외해서 뽑아준후 또 슬라이싱으로 출력
for i in ohlc[1:]:
    print(i[3])

100
190
310

In [ ]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

to=ohlc[2:]
for i in to:
    print(i[3])

190
310

In [ ]:
#197 
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
to=ohlc[1::2]
to
for i in to:
    print(i[3])

100
310

In [ ]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
to=ohlc[1:]
ohlclist=[]
for i in to:
    ohlclist.append((i[1] - i[2]))

ohlclist

[40, 30, 10]

In [ ]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
to = ohlc[1:]
for i in to:
    if i[3]>i[0]:
        print(row[1]-row[2])

10

In [ ]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

to = ohlc[1:]
profit=0
for i in to:
    profit+=i[3]-i[0]

In [ ]:
profit

0