<a href="https://colab.research.google.com/github/jh941213/python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC300%EC%A0%9C(200_300).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
201
def print_coin():
    tot = print("비트코인",'bitcoin')
    return tot

print_coin()

비트코인 bitcoin

In [ ]:
#202
for i in range(100):
    print_coin()

In [ ]:
#203
for i in range(100):
    print_coin()

In [ ]:
#204
def print_coins():
    for i in range(100):
        print("비트코인")

print_coins

In [ ]:
#205
#위에 선언되어서 함수가 선언전에#

In [ ]:
#206
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [ ]:
#207
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [ ]:
#208
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
#ACBED

In [ ]:
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [ ]:
#210
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

In [ ]:
#211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [ ]:
#212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [ ]:
#213
def 함수(문자열) :
    print(문자열)

    #파라미터입력

In [ ]:
#214 str, 숫자

In [ ]:
#215 
def smile(x):
    print(x,":D")

smile("전덕배입니다")

전덕배입니다 :D

In [ ]:
#216
x="안녕하세요"
smile(x)

안녕하세요 :D

In [ ]:
#217
def print_upper_price(price):
    print(price*1.3)

In [ ]:
#218
def print_sum(a,b):
    print(a+b)


print_sum(5,4)

9

In [ ]:
#219
def toto(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

toto(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [ ]:
#220 

def print_max(a, b, c) :
    max_val = 0 #total 초기값설정
    if a > max_val : #a가 0보다크면
        max_val = a  #max_val 에 a를넣어
    if b > max_val : #b가 a보다큰가?
        max_val = b #b를넣어
    if c > max_val :
        max_val = c
    print(max_val)

print_max(52,25,62)

62

In [ ]:
#221
def reverse(x):
    print(x[::-1])

reverse("python")

nohtyp

In [ ]:
#222

def score(score_list):
    print(sum(score_list)/len(score_list))

In [ ]:
#223
def print_even (my_list) :
    for v in my_list :
        if v % 2 == 0 :
            print(v)

In [ ]:
#224
print_keys={"이름":"김말똥", "나이":30, "성별":0}

def print_keys(dic):
    for keys in dic.keys():
        print(keys)

In [ ]:
#225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key (my_dict, key) :
    print(my_dict[key])

In [ ]:
#226
def p5xn(mystr):
    times = len(mystr)/ 5 #2.2
    times = int(times)    #2

    for i in range(times):
        print(mystr[5*i:5*i+5])

p5xn("안녕하세요김덕배입니다")

안녕하세요
김덕배입니

In [ ]:
#227
def print_mxn(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])

In [ ]:

#228
def print_mxn(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])

In [ ]:

#229
def calc_monthly_salary(annual_pay) :
    monthly_pay = int(annual_pay / 12)
    return monthly_pay

In [ ]:

#230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [ ]:
#231
def n_plus_1 (n) :
    result = n + 1
    return result
n_plus_1(3)

4

In [ ]:
#232
def www(m):
    print("www."+m+".com")

www('naver')

www.naver.com

In [ ]:
#233
#리스트는 걍 넣으면 다 쪼개줌
def make_list (string) :
    return list(string)

make_list("김덕배입니다")

['김', '덕', '배', '입', '니', '다']

In [ ]:
#234


def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result
x=[111,345,60,70]
pickup_even(x)

[60, 70]

In [ ]:
#235

def conver_int(x):
    tot= int(x.replace(',',''))
    return tot

conver_int("123,456,123")

123456123

In [ ]:
#236
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [ ]:
#237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [ ]:
#238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [ ]:
#239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [ ]:
#240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

In [ ]:
#241
import datetime
now = datetime.datetime.now()
print(now)

2022-11-19 06:41:19.531403

In [ ]:
print(now, type(now))

2022-11-19 06:41:19.531403 <class 'datetime.datetime'>

In [ ]:
#243 timedelta 

now = datetime.datetime.now()

for day in range(5, 0, -1):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2022-11-14 06:42:31.052558
2022-11-15 06:42:31.052558
2022-11-16 06:42:31.052558
2022-11-17 06:42:31.052558
2022-11-18 06:42:31.052558

In [ ]:
#244 strftime 
% 를 써줘야함
now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))

06:44:35

In [ ]:
#245
import datetime

day = "2022-11-19"
ret = datetime.datetime.strptime(day, "%Y-%m-%d")
print(ret, type(ret))

2022-11-19 00:00:00 <class 'datetime.datetime'>

In [ ]:
#246
import time
import datetime

while True:
    now = datetime.datetime.now()
    print(now.strftime("%H:%M:%S"))
    time.sleep(1)

06:47:38
06:47:39
06:47:40

KeyboardInterrupt: ignored

In [ ]:
#247

In [ ]:
#248
import os
ret = os.getcwd()
print(ret, type(ret))

/content <class 'str'>

In [ ]:
#249
import os
os.rename("C:/Users/hyunh/Desktop/before.txt", "C:/Users/hyunh/Desktop/after.txt")

FileNotFoundError: ignored

In [ ]:
#250
import numpy as np

for i in np.arange(0, 5, 0.1):
    print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9

In [ ]:
#251
#클래스 : 주로 어떤 틀에 비유됩니다. 즉, 똑같은 무엇을 계속 만들어 내는 것에 비유됩니다. 그 이유는 클래스는 객체(object)를 정의하고 만들기 위한 변수와 메서드의 집합이기 때문입니다.
#객체 : 객체는 프로그램에서 구현할 대상입니다. 클래스의 정의대로 만들어진 실체입니다. 인스턴스는 설계도를 바탕으로 프로그램에서 구현된 구체적인 실체를 말합니다
#인스턴스 :클래스에 의해서 만들어진 객체를 인스턴스(instance)라고도 합니다

In [ ]:
#252
class Human:
    pass

In [ ]:
class Human:
    
    def __init__(self):
        print('응애응애')


eung = Human()

응애응애

In [ ]:
#253
class Human:
    pass


areum = Human()

In [ ]:
#254
class Human:
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex

areum = Human("이름",25,'여자')

print(areum.name)

이름

In [ ]:
#255
areum.age

25

In [ ]:
#257
class Human:
    def __init__(self,name,age,sex):
        self.name=name
        self.age=age
        self.sex=sex
    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

areum = Human('아름',25,'여자')
areum.who()

이름: 아름 나이: 25 성별: 여자

In [ ]:
#258
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex


areum = Human("불명", "미상", "모름")
areum.who()      # Human.who(areum)

areum.setInfo("아름", 25, "여자")
areum.who()      # Human.who(areum)

In [ ]:
#259
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def __del__(self):
        print("나의 죽음을 알리지마라")

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")
del(areum)

In [ ]:
#260
class OMG :
    def print() :
        print("Oh my god")


mystock = OMG()
OMG.print()      # OMG.print(mystock)

Oh my god

In [ ]:
#261
class Stock:
    pass

In [ ]:
#262
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code

삼성 = Stock("삼성전자","005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [ ]:
#263
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code
    def set_name(self,name):
        self.name = name
a = Stock(None, None)
a.set_name('삼성전자')
print(a.name)

삼성전자

In [ ]:
#264
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code
    def set_name(self,name):
        self.name = name
    def set_code(self,code):
        self.code = code
a = Stock(None,None)
a.set_code('005930')
print(a.code)

005930

In [ ]:
#265
class Stock:
    def __init__(self,name,code):
        self.name = name
        self.code = code
    def set_name(self,name):
        self.name = name
    def set_code(self,code):
        self.code = code
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code

삼성 = Stock('삼성전자','005930')
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [ ]:
#266
class Stock:
    def __init__(self,name,code,per,pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
    def set_name(self,name):
        self.name = name
    def set_code(self,code):
        self.code = code
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code
    

삼성 = Stock('삼성전자','005930')
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

In [ ]:
#267   

class Stock:
    def __init__(self,name,code,per,pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
    def set_name(self,name):
        self.name = name
    def set_code(self,code):
        self.code = code

삼성 = Stock("삼성전자","005930",15.89,1.33,28.3)

print(삼성.배당수익률)

28.3

In [ ]:
#268    
class Stock:
    def __init__(self,name,code,per,pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
    def set_name(self,name):
        self.name = name
    def set_code(self,code):
        self.code = code
    def set_per(self,per):
        self.per = per
    def set_pbr(self,pbr):
        self.pbr = pbr
    def set_bae(self,배당수익률):
        self.배당수익률 = 배당수익률
        

삼성 = Stock("삼성전자","005930",15.89,1.33,28.3)

print(삼성.배당수익률)

In [ ]:
#269
    
class Stock:
    def __init__(self,name,code,per,pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률
    def set_name(self,name):
        self.name = name
    def set_code(self,code):
        self.code = code
    def set_per(self,per):
        self.per = per
    def set_pbr(self,pbr):
        self.pbr = pbr
    def set_bae(self,배당수익률):
        self.배당수익률 = 배당수익률
        

삼성 = Stock("삼성전자","005930",15.89,1.33,28.3)
삼성.set_per(12.75)
print(삼성.per)

12.75

In [ ]:
#270    
종목=[]
삼성 = Stock("삼성전자","005930",15.89,1.33,28.3)
현대차 = Stock("현대차","005380",8.70,0.35,4.27)
LG전자 = Stock("LG전자","066570",317.34,0.69,1.37)
종목.append(삼성)
종목.append(현대차)
종목.append(LG전자)

for i in 종목:
    print(i.code,i.per)

005930 15.89
005380 8.7
066570 317.34

In [ ]:
#271  
import random  
class Account:
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC제일은행'
        num1 = random.randint(0,999) #첫째 자리
        num2 = random.randint(0,99) #둘째 자리
        num3 = random.randint(0,999999) #셋째 자리 바운딩

        num1 = str(num1).zfill(3) # zfill 함수 앞을 0으로 채움
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3 #001-01-000001

kim = Account("김민수",7500000)
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

김민수
7500000
SC제일은행
662-23-702680

In [ ]:
#272  
class Account:
    account_count = 0
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC제일은행'
        num1 = random.randint(0,999) #첫째 자리
        num2 = random.randint(0,99) #둘째 자리
        num3 = random.randint(0,999999) #셋째 자리 바운딩

        num1 = str(num1).zfill(3) # zfill 함수 앞을 0으로 채움
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3 #001-01-000001
        
        Account.account_count +=1
kim = Account("김민수",7500000)
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)
lee = Account("이재영",320000)
print(Account.account_count)

김민수
7500000
SC제일은행
860-57-440973
2

In [ ]:
#273

class Account:
    account_count = 0
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC제일은행'
        num1 = random.randint(0,999) #첫째 자리
        num2 = random.randint(0,99) #둘째 자리
        num3 = random.randint(0,999999) #셋째 자리 바운딩

        num1 = str(num1).zfill(3) # zfill 함수 앞을 0으로 채움
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3 #001-01-000001
        
        Account.account_count +=1
    def get_account_num(cls):
        print(cls.account_count)

kim = Account("김민수", 100)
lee = Account("이덕배", 100)
kim.get_account_num()

2

In [ ]:
#274  #273

class Account:
    account_count = 0
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC제일은행'
        num1 = random.randint(0,999) #첫째 자리
        num2 = random.randint(0,99) #둘째 자리
        num3 = random.randint(0,999999) #셋째 자리 바운딩

        num1 = str(num1).zfill(3) # zfill 함수 앞을 0으로 채움
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3 #001-01-000001
        
        Account.account_count +=1
    def get_account_num(cls):
        print(cls.account_count)
    def get_deposit(self, amount):
        if amount >= 1:
            self.balance+=amount
        

kim = Account("김민수", 100)
lee = Account("이덕배", 100)

kim.get_deposit(500)
print(kim.balance)

600

In [ ]:
#275 

class Account:
    account_count = 0
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC제일은행'
        num1 = random.randint(0,999) #첫째 자리
        num2 = random.randint(0,99) #둘째 자리
        num3 = random.randint(0,999999) #셋째 자리 바운딩

        num1 = str(num1).zfill(3) # zfill 함수 앞을 0으로 채움
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3 #001-01-000001
        
        Account.account_count +=1
    def get_account_num(cls):
        print(cls.account_count)
    def get_deposit(self, amount):
        if amount >= 1:
            self.balance+=amount
    def get_withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

        

kim = Account("김민수", 100)
lee = Account("이덕배", 100)

kim.get_deposit(500)
kim.get_withdraw(400)
print(kim.balance)

200

In [ ]:
#276


class Account:
    account_count = 0
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC제일은행'
        num1 = random.randint(0,999) #첫째 자리
        num2 = random.randint(0,99) #둘째 자리
        num3 = random.randint(0,999999) #셋째 자리 바운딩

        num1 = str(num1).zfill(3) # zfill 함수 앞을 0으로 채움
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3 #001-01-000001
        
        Account.account_count +=1
    def get_account_num(cls):
        print(cls.account_count)
    def get_deposit(self, amount):
        if amount >= 1:
            self.balance+=amount
    def get_withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount
    def display_info(self):
        print("은행이름", self.bank)
        print("예금주", self.name)
        print("계좌번호", self.account_number)
        print("잔고", f"{self.balance:}")

p = Account("파이썬",50000)
p.display_info()

은행이름 SC제일은행
예금주 파이썬
계좌번호 650-38-164764

ValueError: ignored

In [ ]:
#277    

class Account:
    account_count = 0
    def __init__(self,name,balance):
        self.name = name
        self.balance = balance
        self.bank = 'SC제일은행'
        num1 = random.randint(0,999) #첫째 자리
        num2 = random.randint(0,99) #둘째 자리
        num3 = random.randint(0,999999) #셋째 자리 바운딩

        num1 = str(num1).zfill(3) # zfill 함수 앞을 0으로 채움
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        self.account_number = num1 + '-' + num2 + '-' + num3 #001-01-000001
        
        Account.account_count +=1
    def get_account_num(cls):
        print(cls.account_count)
    def deposit(self, amount):
        if amount >= 1:
            self.balance+=amount
            self.deposit_count =+1
            if self.deposit_count % 5 ==0:
                self.balance = (self.balance*1.01)

    def get_withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount
    def display_info(self):
        print("은행이름", self.bank)
        print("예금주", self.name)
        print("계좌번호", self.account_number)
        print("잔고", f"{self.balance:}")

p = Account("파이썬",50000)
p.deposit(10000)
p.deposit(10000)
p.deposit(1000)
p.deposit(5000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
print(p.balance)

156000

In [ ]:
#278  
data = []
k = Account('kim',100000)
l = Account('lee',50000)
p = Account('park', 40000)
data.append(k)
data.append(l)
data.append(p)

In [ ]:
#279

data = []
k = Account('kim',100000)
l = Account('lee',50000)
p = Account('park', 40000)
data.append(k)
data.append(l)
data.append(p)

for c in data:
    if c.balance >= 50000:
        c.display_info()

In [ ]:
#280
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount) #입금내역
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount)
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)


k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

100
200
300
100
200

In [ ]:
#281
class 차:
    def __init__(self,바퀴,가격):
        self.바퀴 =바퀴
        self.가격 =가격

car = 차(2,100)
print(car.바퀴)
print(car.가격)

2
100

In [ ]:
#282 
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

In [ ]:
#283

bicyle = 자전차(2,100)
print(bicyle.가격)

100

In [ ]:
#284
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        self.바퀴 = 바퀴
        self.가격 = 가격
        self.구동계 = 구동계

bicyle = 자전차(2,100,'시마노')
print(bicyle.구동계)

시마노

In [ ]:
#285 오류남
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격) #부모의 상속을 가져옴
    
    def 정보(self):
        print("바퀴수" , self.바퀴)
        print("가격" , self.가격)


car = 자동차(4, 1000)
car.정보()


#car = 자동차(4,1000)
#car.정보()

바퀴수 4
가격 1000

In [ ]:
#286, 287

class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격
    def 정보(self):
        print("바퀴수",self.바퀴)
        print("가격",self.가격)
class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격) #부모의 상속을 가져옴


class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계
    def 정보(self):
        super().정보()
        print("구동계",self.구동계)

biycle = 자전차(2,100,"시마노")
biycle.정보()

바퀴수 2
가격 100
구동계 시마노

In [ ]:
#288
class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):
    print("자식호출")

나 = 자식()
나.호출()

자식호출

In [ ]:
#289
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    super().__init__() #응용
    print("자식생성")

나 = 자식()

부모생성
자식생성

In [ ]:
#290
class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
    super().__init__()

나 = 자식()

자식생성
부모생성

In [ ]:
#291
f = open("/content/매수종목1.txt", mode ='wt', encoding = 'utf-8')

In [ ]:
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [ ]:
#292
f = open("/content/매수종목2.txt", mode = 'wt', encoding = 'utf-8')

In [ ]:
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER")
f.close()

In [ ]:
#293

import csv

f = open("/content/매수종목3.csv", mode="wt", encoding="cp949", newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [ ]:
#294

f = open("/content/매수종목1.txt", encoding = 'utf-8')
lines = f.readlines()

codes = []
for line in lines:
    code = line.strip()
    codes.append(code)

print(codes)
f.close()

['005930', '005380', '035420']

In [ ]:
#295
f = open("/content/매수종목2.txt", encoding = 'utf-8')
lines = f.readlines()

data = {}
for line in lines:
    line = line.strip()
    k, v = line.split()
    print(k,v)
    data[k]= v
print(data)

005930 삼성전자
005380 현대차
035420 NAVER
{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [ ]:
#296
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [ ]:
#297
per = ["10.31", "", "8.00"]
new_per=[]

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

print(new_per)

[10.31, 0, 8.0]

In [ ]:
#298
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나누면 안되요")

0으로 나누면 안되요

In [ ]:
#299
data = [1, 2, 3]

for i in range(5): 
    try:#실행코드
        print(data[i])
    except IndexError as e: # 예외처리코드
        print(e)

1
2
3
list index out of range
list index out of range

In [ ]:
#300
per = ["10.31", "", "8.00"]

for i in per:
    try: #실행
        print(float(i))
    except: #예외처리
        print(0)
    else: 
        print("clean data")
    finally:
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료